 body
 { 
 }
#imagem1{

    width: 100%;
}
.cabeçalho { padding-left: 30px;

}
.principal {
    background-color:rgba(0,0,0,.12);
    padding: 30px;
}
.central  {
    text-align: center; 
}
h1 {
    color: rgb(0, 130, 160); font-size: 36px;
}
p {
    padding-left: 20px; text-align: justify; font-size: 22px; padding-right: 20px;
  }
em strong {
    color: rgb(0, 130, 160);
}

strong {
    color: rgb(130, 130, 130);
}

h2 {
    color: rgb(130, 130, 130); font-size: 26px;
}


h3 {
    color: rgb(0, 130, 160); font-size: 26px;
}
.generos {
    background-color:rgb(255, 255, 255); 
}

.lista {
     font-style: italic; font-size: 24px; color: rgb(0, 130, 160);
     padding: 22px;
}
.box {
    display: flex;
    width: 90%;
    height: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

#comic{
 width: 51%;
 margin-right: 5%;
}
#tira {
   width:51%;
   margin-right: 5%;
}
#charge {
   width:34%;
   margin-right: 5%;
}
#cartun {
   width:53%;
   margin-right: 5%;
}
#fanzine {
   width:52%;
   margin-right: 5%;
}
#manga {
   width:52%;
   margin-right: 5%;
}
#paradidatico{
   width:51%;
   margin-right: 5%;
}
#fisica{
    width: 60%;
    height: 60%;
    margin-right: 15%;
    margin-left: 20%;

}
h4 {
    padding-left: 20px; text-align: justify; font-size: 20px; padding-right: 20px;
}